/** @format */

body {
  background-color: cornsilk;
  font-family: "Sarabun", sans-serif;
}

.cuaca-app {
  background: ghostwhite;
  max-width: 600px;
  margin: 45px auto;
  box-shadow: 0 30px 50px navajowhite;
  border-radius: 15px;
  padding: 30px;
}
